@use "./variables";

@mixin box-shadow {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
@mixin normal-shadow {
    box-shadow: 1px 1px 5px grey;
}
@mixin bold-shadow {
    box-shadow: 2px 2px 6px grey;
}

@mixin transition-duration {
    transition-duration: 1500ms; 
}

// coeur et son animation
@mixin heart-animation ($padding-right) {
    font-size: 23px;
    padding-right: $padding-right;
    // mettre la police en blanc
    color: variables.$color-white;
    // ajouter un contour noire de 1px à la police
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    // transition de 2s sur l'objet
    transition: color 2s;
    // au hover changement de couleur vers la primaire
    &:hover {
        color: variables.$color-primary;
    }
}

// appartion des élements des menus
@keyframes apparition-element {

    0% {
        transform: scale(0);
        opacity: 0;
    
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

// loader
@keyframes disparition {
    to {
          transform: scale(0);
      }
  }
  
  @keyframes spin {
      to {
          transform: rotate(360deg);
      }
  }