@use "./variables";

@mixin box-shadow {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
@mixin normal-shadow {
    box-shadow: 1px 1px 5px grey;
}
@mixin bold-shadow {
    box-shadow: 2px 2px 6px grey;
}

@mixin transition-duration {
    transition-duration: 1500ms; 
}

// animations

@mixin heart-animation ($padding-right) {
    font-size: 23px;
    padding-right: $padding-right;
    // put de font in white
    color: variables.$color-white;
    // add contour on the font
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    transition: color 2s;
    // on the hover change the color background
    &:hover {
        color: variables.$color-primary;
    }
    
}
