@use "../abstracts/variables";
@use "../abstracts/mixins";
@use "../base/typography";
/* header */
.header {
    background-color: variables.$color-white;
    @include mixins.box-shadow;
    padding: 16px;
    display: flex;
    justify-content: center;
}