@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../base/typography";
/* header */
.header {
    background-color: $color-white;
    @include box-shadow;
    padding: 16px;
    & .header__logo {
        font-family: $font-schrikhand;
        text-align: center;
        font-size: 30px;
        margin:0;
    }
}