@use "../abstracts/variables";
@use "../base/typography";
@use "../abstracts/mixins";
/* process */
.process {
    background-color: variables.$color-white;
    & .process__container {
        padding:16px;
    }
    & .process__title {
        font-family: typography.$font-roboto;
    }
    & .process__list {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
    }
    & li {
        background-color: #f6f6f6;
        padding: 16px 32px;
        border-radius: 16px;
        flex-basis: 100%;
        transition-duration:1500ms;
        @include mixins.normal-shadow;
            &:hover {
                background-color: lighten(variables.$color-primary,35);
                @include mixins.bold-shadow;
                transition-duration:1500ms;
            }
    }
}
