@use "../abstracts/variables";
@use "../base/typography";
@use "../abstracts/mixins";
/* process */
.process {
    counter-reset: step-process;
    background-color: variables.$color-white;

    &__container {
        padding:18px;
        margin: 0;
    }
    &__title {
        font-family: typography.$font-roboto;
    }
    &__list {
        display: grid;
        row-gap: 32px;
        padding-left:16px;
        @media (min-width: 1024px){
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        column-gap: 32px;
        }
    }
    & li {
        // implémentation d'un compteur pour numéroter dans l'ordre de chaque élément de la liste
        &::before {
            content:counter(step-process);
            counter-increment: step-process;
            background-color: variables.$color-primary;
            color: variables.$color-white;
            font-size: 13px;
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            // attention obligation :mettre le parent en position relative
            position: absolute;
            bottom: 24px;
            left:-14px
            
        }
        position: relative;
        background-color: #f6f6f6;
        font-family: typography.$font-roboto;
        font-weight: 600;
        min-width: 120px;
        height: 10px;
        padding: 32px 32px;
        border-radius: 16px;
        list-style-type: none;
        // centrer en vertical le contenu le boite de chaque étape du process
        display: flex;
        align-items: center;
        flex-basis: 100%;
        @include mixins.transition-duration;
        @include mixins.normal-shadow;
            &:hover {
                background-color: lighten(variables.$color-primary,35);
                cursor: pointer;
                @include mixins.bold-shadow;
                @include mixins.transition-duration;
                .fa-solid {
                    color:variables.$color-primary;
                    @include mixins.transition-duration;
                }
            }
            & i {
                margin-right: 16px;
                font-size: 20px;
            }
        
    }
}
