@use "../base/typography";
@use "../abstracts/mixins";
@use "../abstracts/variables";
/* restaurants */
.restaurants {
    &__container {
        background-color: #fafafa;
        padding: 18px 18px 75px 18px;
        margin: 0;
    }
    &__container-title{
        font-family: typography.$font-roboto;
    }
    &__cards {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            column-gap: 32px;
            row-gap: 32px;
            @media (min-width:1024px) {
              grid-template-columns: repeat(2, 1fr);
            }
    }
    &__card {
            font-family: typography.$font-roboto;
            height: 250px;
            color: inherit;
            flex-grow: 1;
            min-width: 180px;
            border-radius: 16px;
            @include mixins.normal-shadow;
            transition: transform .6s;
            &:hover {
                transform: scale(1.02);
                @include mixins.bold-shadow;
            }
            &.new {
                position: relative;
            }
            &.new::before {
                content: "Nouveau";
                background-color: variables.$color-tertiary;
                font-family: (typography.$font-roboto);
                font-size: 14px;
                font-weight: 500;
                width: 90px;
                height: 30px;
                position: absolute;
                top: 15px;
                right:10px;
                border-radius: 4px;
                display:flex;
                justify-content: center;
                align-items: center;
                color: darken(variables.$color-tertiary, 40%);                
            }
    }
    &__img {
        object-fit: cover;
        height: 190px;
        width: 100%;
        border-radius: 16px 16px 0 0;
    }
    &__description h3,p {
        margin: 4px;
        padding-left: 10px;
    }
    &__description {
        display: flex;
        // mettre le max d'espace entre le bloc de texte et le coeur
        justify-content: space-between;
        align-items: center;
    }
        // mettre le bloc texte de description en colonne
    &__description-text {
        flex-direction: column;
    }
    &__title {
        font-family: typography.$font-roboto;
        font-size: 16px;
    }
    &__subtitle {
        font-family: typography.$font-roboto;
        font-size: 14px;
    }
    // heart on card 
    &__heart {
        @include mixins.heart-animation($padding-right:24px);
    }
}
