@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/* coeur et son animation */
/* appartion des items des menus */
@keyframes apparition-element {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
/* loader */
/* disparition du fond et du cercle */
@keyframes disparition {
  to {
    transform: scale(0);
  }
}
/* rotation du cercle loader */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
/* rotation 3/4 du check au hover de l'item d'un menu */
@keyframes rotate-check {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
/* boucle for pour générer des classes avec les délais d'apparition des 9 éléments de chaque menu */
.delay-1 {
  animation: apparition-element 600ms 200ms ease-in-out both;
}

.delay-2 {
  animation: apparition-element 600ms 400ms ease-in-out both;
}

.delay-3 {
  animation: apparition-element 600ms 600ms ease-in-out both;
}

.delay-4 {
  animation: apparition-element 600ms 800ms ease-in-out both;
}

.delay-5 {
  animation: apparition-element 600ms 1000ms ease-in-out both;
}

.delay-6 {
  animation: apparition-element 600ms 1200ms ease-in-out both;
}

.delay-7 {
  animation: apparition-element 600ms 1400ms ease-in-out both;
}

.delay-8 {
  animation: apparition-element 600ms 1600ms ease-in-out both;
}

.delay-9 {
  animation: apparition-element 600ms 1800ms ease-in-out both;
}

.delay-10 {
  animation: apparition-element 600ms 2000ms ease-in-out both;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* loader */
.loader {
  position: fixed;
  display: grid;
  place-items: center;
  background-color: white;
  height: 100vh;
  inset: 0;
  z-index: 2;
  opacity: 0.9;
  animation: disparition 200ms 3s both;
  transform-origin: top;
}
.loader::after {
  content: "";
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border-top: 3px solid transparent;
  border-right: 3px solid #9356DC;
  border-bottom: 3px solid #FF79DA;
  border-left: 3px solid #99E2D0;
  animation: spin 3s linear;
}

/* header */
.header {
  z-index: 1;
  position: sticky;
  top: 0;
  background-color: #FFF;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 16px;
  display: flex;
  justify-content: center;
}
.header__logo {
  width: 150px;
}

/* localisation */
.localisation {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F3F3F3;
  gap: 16px;
  padding: 5px;
  font-family: "Roboto", sans-serif;
}
.localisation__text {
  font-size: 17px;
}
.localisation__ico {
  font-size: 17px;
}

/* explore */
.explore {
  background-color: #fafafa;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Roboto", serif;
}
.explore .explore__title {
  margin: 0;
}
.explore .explore__subtitle {
  font-weight: 300;
  font-size: 18px;
  margin-top: 13px;
}
.explore .explore__btn {
  padding: 15px 21px;
  margin-top: 13px;
  color: #FFF;
  font-family: "Roboto", serif;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 40px;
  background-image: linear-gradient(#FF79DA, #9356DC);
  transition-duration: 1000ms;
  box-shadow: 1px 1px 5px grey;
}
.explore .explore__btn:hover {
  cursor: pointer;
  filter: brightness(115%);
  transition-duration: 1000ms;
  box-shadow: 2px 2px 6px grey;
}

/* process */
.process {
  counter-reset: step-process;
  background-color: #FFF;
}
.process__container {
  padding: 18px;
  margin: 0;
}
.process__title {
  font-family: "Roboto", serif;
}
.process__list {
  display: grid;
  row-gap: 32px;
  padding-left: 16px;
}
@media (min-width: 1024px) {
  .process__list {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 32px;
  }
}
.process li {
  position: relative;
  background-color: #f6f6f6;
  font-family: "Roboto", serif;
  font-weight: 600;
  min-width: 120px;
  height: 10px;
  padding: 32px 32px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  flex-basis: 100%;
  transition-duration: 1500ms;
  box-shadow: 1px 1px 5px grey;
}
.process li::before {
  content: counter(step-process);
  counter-increment: step-process;
  background-color: #9356DC;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  font-size: 13px;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 24px;
  left: -14px;
}
.process li:hover {
  cursor: pointer;
  background-color: #f2eafb;
  box-shadow: 2px 2px 6px grey;
  transition-duration: 1500ms;
}
.process li:hover .fa-solid {
  color: #9356DC;
  transition-duration: 1500ms;
}
.process li i {
  margin-right: 16px;
  font-size: 20px;
}

/* restaurants */
.restaurants__container {
  background-color: #fafafa;
  padding: 18px 18px 75px 18px;
  margin: 0;
}
.restaurants__container-title {
  font-family: "Roboto", serif;
}
.restaurants__cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 32px;
  row-gap: 32px;
}
@media (min-width: 1024px) {
  .restaurants__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
.restaurants__card {
  font-family: "Roboto", serif;
  height: 250px;
  color: inherit;
  flex-grow: 1;
  min-width: 180px;
  border-radius: 16px;
  box-shadow: 1px 1px 5px grey;
  transition: transform 0.6s;
}
.restaurants__card:hover {
  transform: scale(1.02);
  box-shadow: 2px 2px 6px grey;
}
.restaurants__card.new {
  position: relative;
}
.restaurants__card.new::before {
  content: "Nouveau";
  background-color: #99E2D0;
  font-family: "Roboto", serif;
  font-size: 14px;
  font-weight: 500;
  width: 90px;
  height: 30px;
  position: absolute;
  top: 15px;
  right: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #278870;
}
.restaurants__img {
  object-fit: cover;
  height: 190px;
  width: 100%;
  border-radius: 16px 16px 0 0;
}
.restaurants__description h3, .restaurants p {
  margin: 4px;
  padding-left: 10px;
}
.restaurants__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.restaurants__description-text {
  flex-direction: column;
}
.restaurants__title {
  font-family: "Roboto", serif;
  font-size: 16px;
}
.restaurants__subtitle {
  font-family: "Roboto", serif;
  font-size: 14px;
}
.restaurants__heart {
  font-size: 23px;
  padding-right: 24px;
  /* mettre la police en blanc */
  color: #FFF;
  /* ajouter un contour noire de 1px à la police */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  /* transition de 2s sur l'objet */
  transition: color 2s;
  /* au hover changement de couleur vers la primaire */
}
.restaurants__heart:hover {
  color: #9356DC;
}

/* footer */
.footer {
  background-color: #353535;
  padding: 25px 18px 40px 18px;
}
.footer__logo {
  font-family: "Shrikhand", cursive;
  font-size: 16px;
  color: white;
}
.footer_list {
  padding: 0;
  margin: 24px 0 16px 0;
}
.footer__item {
  padding-bottom: 8px;
}
.footer__link {
  color: white;
  font-family: "Roboto", serif;
  font-size: 15px;
}
.footer__link:hover {
  color: #9356DC;
}
.footer__ico {
  margin-right: 3px;
  width: 20px;
}

/* menu page */
.header--WithArrow {
  position: sticky;
  top: 0;
  z-index: 2;
}
.header__arrow {
  position: absolute;
  top: 50%;
  left: 16px;
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  font-size: 24px;
  color: black;
}

.cover__image {
  object-fit: cover;
  width: 100%;
  height: 271px;
}

.menu {
  background-color: #F6F6F6;
  border-radius: 36px 36px 0 0;
  margin-top: -50px;
  z-index: 1;
  position: relative;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
.menu__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 6px 0 18px;
}
.menu__nameRestaurant {
  font-family: "Shrikhand", cursive;
  padding-left: 10px;
  margin: 16px 0 9px 0;
}
.menu__container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 1024px) {
  .menu__container {
    grid-template-columns: repeat(3, 1fr);
  }
}
.menu__section {
  padding: 0 18px;
  overflow: hidden;
}
.menu__section--title {
  position: relative;
  padding-left: 10px;
  margin: 22px 0;
  font-family: "Roboto", serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
}
.menu__section--title::before {
  content: "";
  width: 41px;
  height: 3px;
  background-color: #99E2D0;
  position: absolute;
  left: 10px;
  bottom: -9px;
}

.menuItem {
  background-color: #fff;
  border-radius: 12px;
  margin: 14px 0;
  display: flex;
  overflow: hidden;
  box-shadow: 1px 1px 5px grey;
}
.menuItem__header {
  padding: 16px;
  overflow: hidden;
  flex-basis: 70%;
}
.menuItem__title {
  margin: 0px;
  padding-bottom: 6px;
  font-family: "Roboto", serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menuItem__detail {
  margin: 0px;
  font-family: "Roboto", serif;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menuItem__price {
  font-family: "Roboto", serif;
  font-weight: bold;
  font-size: 14px;
  padding: 16px;
  display: flex;
  align-items: flex-end;
  margin-left: auto;
}
.menuItem__checkbox {
  background-color: #99E2D0;
  margin-right: -59px;
  width: 59px;
  transition: margin-right 0.5s;
  display: grid;
  place-items: center;
}
.menuItem__iconCheck {
  color: white;
  font-size: 21px;
}
.menuItem:hover {
  cursor: pointer;
}
.menuItem:hover .menuItem__checkbox {
  margin-right: 0;
}
.menuItem:hover .menuItem__iconCheck {
  animation: rotate-check 0.5s ease;
}

.command {
  display: flex;
  justify-content: center;
}
.command__btn {
  font-family: "Roboto", serif;
  padding: 15px 49px;
  margin: 36px 0 83px 0;
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  border: none;
  border-radius: 40px;
  background-image: linear-gradient(#FF79DA, #9356DC);
  transition-duration: 1000ms;
  box-shadow: 1px 1px 5px grey;
}
.command__btn:hover {
  cursor: pointer;
  filter: brightness(115%);
  transition-duration: 1000ms;
  box-shadow: 2px 2px 6px grey;
}

/*# sourceMappingURL=style.css.map */
