@use "../abstracts/variables";
@use "../abstracts/mixins";
@use "../base/typography";
/* menu page */ 
// en-tête avec logo et flèche retour

.header{
    &--WithArrow {
        // pour placer la flêche
       position: relative;
    }
    &__arrow {
    position: absolute;
    // position de la flèche
    top: 50%;
    left: 16px;
    // dimensions de la boite qui accueille la flèche
    height: 32px;
    width: 32px;
    // mise en flex pour pouvoir la centrer dans la boite
    display:flex;
    align-items:center;
    justify-content:center;
    // déplacement de la flèche sur l'axe Y
    transform: translateY(-50%);
    font-size: 24px;
    color: black;
    }
}

// photo de couverture 
.cover {
    &__image {
        object-fit: cover;
        width: 100%;
        height: 271px;
    }
}


// menu
.menu {
    background-color: variables.$color-grey-light;
    border-radius: 36px 36px 0 0;
    margin-top: -50px;
    // le menu passe au dessus de la cover avec le z-index 1
    z-index: 1;
    position: relative;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 6px 0 18px;
    }
    &__nameRestaurant {
        font-family:typography.$font-schrikhand;
        padding-left: 10px;
        margin:16px 0 9px 0;
    }
    &__container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
        @media (min-width:1024px) {
          grid-template-columns: repeat(3, 1fr);
        }
    }

    &__section {
        padding: 0 18px;
        overflow: hidden;
       
        &--title {
            position: relative;
            padding-left: 10px;
            margin: 22px 0;
            font-family: typography.$font-roboto;
            // force les caractères en capitale
            text-transform: uppercase;
            font-size:16px ;
            font-weight: 400;
            // mise en place du trait de soulignement
            &::before {
                    content: "";
                    width: 41px;
                    height: 3px;
                    background-color:variables.$color-tertiary;
                    position: absolute;
                    left: 10px;
                    bottom: -9px;
            }
        }
    } 
}

// contenu du menu
.menuItem {
    background-color: #fff;
    border-radius: 12px;
    margin: 14px 0;
    display: flex;
    // cacher la check box qui dépasse de la boite
    overflow: hidden;
    @include mixins.normal-shadow;

    &__header {
        padding: 16px;
        // en lien avec le texte caché lorsqu'il est trop long ou au moment du check
        overflow: hidden;
        // mettre tous les contenus de la même largeur pour éviter les décalages de taille avec la checkbox
        flex-basis: 70%;
    }

    // test de vase
    
    &__title {
        margin:0px;
        padding-bottom: 6px;
        font-family:typography.$font-roboto;
        // empêcher le retour à la ligne du texte
        white-space: nowrap;
        // cacher le texte qui dépasse
        overflow: hidden;
        // mettre les 3 petits points
        text-overflow: ellipsis;
    }
    &__detail {
        margin: 0px;
        font-family:typography.$font-roboto;
        font-size: 14px;
        // empêcher le retour à la ligne du texte
        white-space: nowrap;
        // cacher le texte qui dépasse
        overflow: hidden;
        // mettre les 3 petits points
        text-overflow: ellipsis;
    }
    &__price {
        font-family:typography.$font-roboto;
        font-weight: bold;
        font-size: 14px;
        padding: 16px;
        display: flex;
        // aligner le prix en bas de la box
        align-items: flex-end;
        // placer le prix tout à fait droite
        margin-left: auto;
    }
    // largeur de la check box sur la maquette
    $sizeCheckBox:59px;
    &__checkbox{
        background-color:variables.$color-tertiary;
        // décalage de la checkbox hors champs pour être invisible
        margin-right: -$sizeCheckBox;
        // fixer la taille de la checkbox de la même valeur que le décalage
        width: $sizeCheckBox;
        // une transition sur le déplacement de la checkbox
        transition: margin-right 0.5s;
        // permet de centrer l'icone dans la boite
        display: grid;
        place-items: center;    
    }
    &__iconCheck {
        color: white;
        // taille de l'icone sur la maquette 21px
        font-size: 21px;
    }
    &:hover {
        cursor: pointer;
        // la check box se déplace pour apparaitre
        .menuItem__checkbox {
            margin-right: 0;
        }
        // appel à l'animation pour que l'icone fasse une rotation
        .menuItem__iconCheck {
        animation : rotate-check 0.5s ease;
        }   
    }
}


// bouton pour commander
.command {
    display: flex;
    justify-content: center;
        &__btn {
                font-family: typography.$font-roboto;
                padding: 15px 49px;
                margin : 36px 0 83px 0;
                color: variables.$color-white;
                font-size: 14px;
                font-weight: 400;
                border: none;
                border-radius: 40px;
                background-image: linear-gradient(variables.$color-secondary, variables.$color-primary);
                transition-duration: 1000ms;
                @include mixins.normal-shadow;
        }
            
        &__btn:hover {
                cursor: pointer;
                // éclaircissement de 15% du bouton 
                filter: brightness(115%);
                transition-duration: 1000ms;
                @include mixins.bold-shadow;
        }
}
